{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>All Posts</h1>
    <ul class="posts">
        {% for post in posts %}
        <li class="post_item">
            <a href="{{ url_for('posts.get', post_id=post.id) }}">{{ post.title }}</a>
            <a href="{{ url_for('posts.delete', post_id=post.id) }}" class="delete_btn">Delete</a>
        </li>
        {% endfor %}
    </ul>
    {% if offset == max and max == 0%}
    {% elif offset == max %}
    <a href="{{ url_for('posts.get_all', offset=offset-5) }}" class="link">Previous</a>
    {% elif offset == 0%}
    <a href="{{ url_for('posts.get_all', offset=offset+5) }}" class="link">Next</a>
    {% else %}
    <a href="{{ url_for('posts.get_all', offset=offset+5) }}" class="link">Next</a>
    <a href="{{ url_for('posts.get_all', offset=offset-5) }}" class="link">Previous</a>
    {% endif %}
    <br /><br />
    <button class="btn-primary btn"><a href="{{ url_for('posts.new') }}" class="new-post-btn">New Post</a></button>
</div>
{% endblock %}