main {
    padding: 10px;
}

.container {
    margin: auto;
    max-width: 500px;
}

.posts {
    list-style-type: none;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.post_item {
    background-color: inherit;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-left: 15px;
}

input,
textarea {
    max-width: 500px !important;
}

.new_post {
    margin: auto;
    max-width: 500px;
}

.new-post-btn,
.new-post-btn:hover {
    color: white
}

.delete_btn {
    float: right;
}